USE [DW_Northwind]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 12/23/2025 5:03:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerKey] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [nvarchar](50) NOT NULL,
	[CompanyName] [nvarchar](250) NULL,
	[ContactName] [nvarchar](200) NULL,
	[CustomerCategKey] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerKey], [CustomerID], [CompanyName], [ContactName], [CustomerCategKey]) VALUES (1, N'C0201', N'NorthPoint Foods', N'Ayesha Khan', 2)
INSERT [dbo].[Customer] ([CustomerKey], [CustomerID], [CompanyName], [ContactName], [CustomerCategKey]) VALUES (2, N'C0202', N'GreenGrocers', N'Marco Pereira', 1)
INSERT [dbo].[Customer] ([CustomerKey], [CustomerID], [CompanyName], [ContactName], [CustomerCategKey]) VALUES (3, N'C0204', N'BakerHouse', N'Helga Meier', 2)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Customer_CustomerID]    Script Date: 12/23/2025 5:03:38 PM ******/
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [UQ_Customer_CustomerID] UNIQUE NONCLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_CustomerCateg] FOREIGN KEY([CustomerCategKey])
REFERENCES [dbo].[CustomerContactCategory] ([CustomerCategKey])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_CustomerCateg]
GO
