USE [DW_Northwind]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 12/23/2025 7:16:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductKey] [int] NOT NULL,
	[ProductName] [nvarchar](250) NOT NULL,
	[CategoryKey] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Product] ([ProductKey], [ProductName], [CategoryKey]) VALUES (1001, N'Chai', 1)
INSERT [dbo].[Product] ([ProductKey], [ProductName], [CategoryKey]) VALUES (1002, N'Coffee', 1)
INSERT [dbo].[Product] ([ProductKey], [ProductName], [CategoryKey]) VALUES (1003, N'Aniseed Syrup', 2)
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryKey])
REFERENCES [dbo].[Category] ([CategoryKey])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
