USE [DW_Northwind]
GO
/****** Object:  Table [dbo].[CustomerContactCategory]    Script Date: 12/23/2025 7:16:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerContactCategory](
	[CustomerCategKey] [int] IDENTITY(1,1) NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerCategKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CustomerContactCategory] ON 

INSERT [dbo].[CustomerContactCategory] ([CustomerCategKey], [Gender]) VALUES (1, N'male')
INSERT [dbo].[CustomerContactCategory] ([CustomerCategKey], [Gender]) VALUES (2, N'female')
SET IDENTITY_INSERT [dbo].[CustomerContactCategory] OFF
GO
