USE [DW_Northwind]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 12/23/2025 3:01:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryKey] [int] NOT NULL,
	[CategoryName] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([CategoryKey], [CategoryName]) VALUES (1, N'Beverages')
INSERT [dbo].[Category] ([CategoryKey], [CategoryName]) VALUES (2, N'Condiments')
INSERT [dbo].[Category] ([CategoryKey], [CategoryName]) VALUES (3, N'Confections')
GO
