USE [DW_Northwind]
GO
/****** Object:  Table [dbo].[Time]    Script Date: 12/23/2025 7:16:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Time](
	[TimeKey] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[DayNbWeek] [int] NULL,
	[DayNbMonth] [int] NULL,
	[DayNbYear] [int] NULL,
	[MonthName] [nvarchar](50) NULL,
	[Quarter] [int] NULL,
	[Year] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TimeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Time] ([TimeKey], [Date], [DayNbWeek], [DayNbMonth], [DayNbYear], [MonthName], [Quarter], [Year]) VALUES (20240108, CAST(N'2024-01-08' AS Date), 1, 8, 8, N'January', 1, 2024)
INSERT [dbo].[Time] ([TimeKey], [Date], [DayNbWeek], [DayNbMonth], [DayNbYear], [MonthName], [Quarter], [Year]) VALUES (20240109, CAST(N'2024-01-09' AS Date), 2, 9, 9, N'January', 1, 2024)
INSERT [dbo].[Time] ([TimeKey], [Date], [DayNbWeek], [DayNbMonth], [DayNbYear], [MonthName], [Quarter], [Year]) VALUES (20240110, CAST(N'2024-01-10' AS Date), 3, 10, 10, N'January', 1, 2024)
GO
