USE [DW_Northwind]
GO
/****** Object:  Table [dbo].[EmployeeCity]    Script Date: 12/23/2025 7:16:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeCity](
	[EmpCityKey] [int] IDENTITY(1,1) NOT NULL,
	[City] [nvarchar](200) NOT NULL,
	[Country] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpCityKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EmployeeCity] ON 

INSERT [dbo].[EmployeeCity] ([EmpCityKey], [City], [Country]) VALUES (1, N'Toronto', N'Canada')
INSERT [dbo].[EmployeeCity] ([EmpCityKey], [City], [Country]) VALUES (2, N'Madrid', N'Spain')
INSERT [dbo].[EmployeeCity] ([EmpCityKey], [City], [Country]) VALUES (3, N'Shanghai', N'China')
SET IDENTITY_INSERT [dbo].[EmployeeCity] OFF
GO
