USE [DW_Northwind]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 12/23/2025 7:16:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeKey] [int] NOT NULL,
	[FirstName] [nvarchar](150) NOT NULL,
	[LastName] [nvarchar](150) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[BirthDate] [date] NULL,
	[HireDate] [date] NULL,
	[Address] [nvarchar](500) NULL,
	[EmpCityKey] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Employee] ([EmployeeKey], [FirstName], [LastName], [Title], [BirthDate], [HireDate], [Address], [EmpCityKey]) VALUES (1, N'Ahmed', N'Khan', N'Sales Representative', CAST(N'1980-05-12' AS Date), CAST(N'2010-04-01' AS Date), N'10 Agha Khan Rd', 5)
INSERT [dbo].[Employee] ([EmployeeKey], [FirstName], [LastName], [Title], [BirthDate], [HireDate], [Address], [EmpCityKey]) VALUES (2, N'Aisha', N'Rehman', N'Order Clerk', CAST(N'1985-09-03' AS Date), CAST(N'2012-07-15' AS Date), N'22 Model Town', 10)
INSERT [dbo].[Employee] ([EmployeeKey], [FirstName], [LastName], [Title], [BirthDate], [HireDate], [Address], [EmpCityKey]) VALUES (3, N'John', N'Smith', N'Sales Manager', CAST(N'1975-12-20' AS Date), CAST(N'2008-03-05' AS Date), N'5 Market St', 4)
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_EmployeeCity] FOREIGN KEY([EmpCityKey])
REFERENCES [dbo].[EmployeeCity] ([EmpCityKey])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_EmployeeCity]
GO
