USE [DW_Northwind]
GO
/****** Object:  Table [dbo].[Shipper]    Script Date: 12/23/2025 2:11:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipper](
	[ShipperKey] [int] NOT NULL,
	[CompanyName] [nvarchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShipperKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 12/23/2025 2:11:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierKey] [int] NOT NULL,
	[CompanyName] [nvarchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Shipper] ([ShipperKey], [CompanyName]) VALUES (1, N'Speedy Express')
INSERT [dbo].[Shipper] ([ShipperKey], [CompanyName]) VALUES (2, N'United Package')
INSERT [dbo].[Shipper] ([ShipperKey], [CompanyName]) VALUES (3, N'Federal Shipping')
GO
INSERT [dbo].[Supplier] ([SupplierKey], [CompanyName]) VALUES (1, N'Acme Beverages')
INSERT [dbo].[Supplier] ([SupplierKey], [CompanyName]) VALUES (2, N'Euro Foods Ltd')
INSERT [dbo].[Supplier] ([SupplierKey], [CompanyName]) VALUES (3, N'Pacific Imports')
GO
