USE [master]
GO
/****** Object:  Table [dbo].[Stg_OrderDetails]    Script Date: 12/24/2025 4:02:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stg_OrderDetails](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NULL,
	[Quantity] [int] NULL,
	[Discount] [decimal](4, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stg_Orders]    Script Date: 12/24/2025 4:02:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stg_Orders](
	[OrderID] [int] NOT NULL,
	[CustomerID] [varchar](10) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[OrderDate] [date] NULL,
	[RequiredDate] [date] NULL,
	[ShippedDate] [date] NULL,
	[ShipVia] [int] NULL,
	[Freight] [decimal](10, 2) NULL,
	[ShipName] [nvarchar](200) NULL,
	[ShipAddress] [nvarchar](200) NULL,
	[ShipCity] [nvarchar](100) NULL,
	[ShipRegion] [nvarchar](100) NULL,
	[ShipPostalCode] [nvarchar](20) NULL,
	[ShipCountry] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stg_Product]    Script Date: 12/24/2025 4:02:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stg_Product](
	[ProductID] [int] NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[SupplierID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[QuantityPerUnit] [nvarchar](100) NULL,
	[UnitPrice] [decimal](10, 2) NULL,
	[UnitsInStock] [int] NULL,
	[UnitsOnOrder] [int] NULL,
	[ReorderLevel] [int] NULL,
	[Discontinued] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Stg_OrderDetails] ([OrderID], [ProductID], [UnitPrice], [Quantity], [Discount]) VALUES (6001, 2001, CAST(120.00 AS Decimal(10, 2)), 4, CAST(0.00 AS Decimal(4, 2)))
INSERT [dbo].[Stg_OrderDetails] ([OrderID], [ProductID], [UnitPrice], [Quantity], [Discount]) VALUES (6001, 2009, CAST(2.00 AS Decimal(10, 2)), 50, CAST(0.00 AS Decimal(4, 2)))
INSERT [dbo].[Stg_OrderDetails] ([OrderID], [ProductID], [UnitPrice], [Quantity], [Discount]) VALUES (6002, 2003, CAST(3.50 AS Decimal(10, 2)), 100, CAST(0.05 AS Decimal(4, 2)))
GO
INSERT [dbo].[Stg_Orders] ([OrderID], [CustomerID], [EmployeeID], [OrderDate], [RequiredDate], [ShippedDate], [ShipVia], [Freight], [ShipName], [ShipAddress], [ShipCity], [ShipRegion], [ShipPostalCode], [ShipCountry]) VALUES (5001, N'C0001', 1, CAST(N'2025-11-10' AS Date), CAST(N'2025-11-20' AS Date), CAST(N'2025-11-12' AS Date), 1, CAST(12.50 AS Decimal(10, 2)), N'Alpha Traders', N'12 Clifton Road', N'Karachi', N'Sindh', N'74400', N'Pakistan')
INSERT [dbo].[Stg_Orders] ([OrderID], [CustomerID], [EmployeeID], [OrderDate], [RequiredDate], [ShippedDate], [ShipVia], [Freight], [ShipName], [ShipAddress], [ShipCity], [ShipRegion], [ShipPostalCode], [ShipCountry]) VALUES (5002, N'C0002', 2, CAST(N'2025-11-05' AS Date), CAST(N'2025-11-15' AS Date), CAST(N'2025-11-06' AS Date), 1, CAST(25.00 AS Decimal(10, 2)), N'Beta Supplies', N'45 Mall Rd', N'Lahore', N'Punjab', N'54000', N'Pakistan')
INSERT [dbo].[Stg_Orders] ([OrderID], [CustomerID], [EmployeeID], [OrderDate], [RequiredDate], [ShippedDate], [ShipVia], [Freight], [ShipName], [ShipAddress], [ShipCity], [ShipRegion], [ShipPostalCode], [ShipCountry]) VALUES (5003, N'C0003', 3, CAST(N'2025-10-20' AS Date), CAST(N'2025-11-03' AS Date), CAST(N'2025-10-22' AS Date), 2, CAST(7.80 AS Decimal(10, 2)), N'Gamma Foods', N'78 Queen St', N'London', N'Greater London', N'WC1', N'UK')
GO
INSERT [dbo].[Stg_Product] ([ProductID], [ProductName], [SupplierID], [CategoryID], [QuantityPerUnit], [UnitPrice], [UnitsInStock], [UnitsOnOrder], [ReorderLevel], [Discontinued]) VALUES (1001, N'Chai', 1, 1, N'20 boxes x 20 bags', CAST(18.00 AS Decimal(10, 2)), 39, 0, 10, 0)
INSERT [dbo].[Stg_Product] ([ProductID], [ProductName], [SupplierID], [CategoryID], [QuantityPerUnit], [UnitPrice], [UnitsInStock], [UnitsOnOrder], [ReorderLevel], [Discontinued]) VALUES (1002, N'Coffee', 1, 1, N'10 boxes x 12 bags', CAST(22.50 AS Decimal(10, 2)), 50, 0, 10, 0)
INSERT [dbo].[Stg_Product] ([ProductID], [ProductName], [SupplierID], [CategoryID], [QuantityPerUnit], [UnitPrice], [UnitsInStock], [UnitsOnOrder], [ReorderLevel], [Discontinued]) VALUES (1003, N'Aniseed Syrup', 2, 2, N'12 - 550 ml bottles', CAST(10.00 AS Decimal(10, 2)), 13, 70, 25, 0)
GO
